@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nanum+Myeongjo:wght@800&family=Permanent+Marker&family=Playfair+Display&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Myeongjo', Serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0; 
    color: #4D3853;
    /* color: #D8F29B; */
    /* background-color:#EF722D; */
    background-color: #F88E53;

}


.container {
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 40px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex .7s ease-in;
}

.panel h3 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    position: absolute;
    color: #D8F29B;
    /* color:#EBF6F3; */
    bottom: 20px;
    right: 10px;
    margin: 0;
    opacity:0;
}

.panel p{
    opacity: 0;
    /* transition: opacity 0.3s ease-in 0.5s;
    text-align: left; */
}

/* .panel.info p{
    opacity: 0;
    transition: opacity 0.3s ease-in 0.5s;
} */


.panel.active {
    flex: 14;

}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.5s;
}

.panel.active p {
    margin: 30px;
    opacity: 1;
    text-align: left;  
    transition: opacity 0.3s ease-in 0.5s;

}

/* .panel p.star:hover {
    text-transform:lowercase;
} */


/*Cursor*/
.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

@media(max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display:none;
    }
}